body {
	background-color:#284c7e;
}

h1#title {
	color:#fff;
}

div#logoBox {
	width: 400px;
	margin:0 auto;
}

ul#navBar {
	padding:0 10px;
	list-style-type: none;
}

ul#navBar li {
	cursor: pointer;
	color:#fff;
	display:inline-block;
}

.stretch {
	width:100%;
}