@font-face {
	font-family: DenseRegular;
	src: url('fonts/dense-regular-webfont.ttf'),
		 url('fonts/dense-regular-webfont.eot'),
		 url('fonts/dense-regular-webfont.woff'),
		 url('fonts/dense-regular-webfont.svg');
}

body {
	background-color:#284c7e;
}

h1#title {
	color:#fff;
}

div#logoBox {
	width: 400px;
	margin:0 auto;
}

ul#navBar {
	padding:0 10px;
	list-style-type: none;
}

ul#navBar li {
	font-family: DenseRegular;
	font-size:22px;
	cursor: pointer;
	color:#fff;
	display:inline-block;
}

.stretch {
	width:100%;
}