@font-face {
	font-family: DenseRegular;
	src: url('fonts/dense-regular-webfont.ttf'),
		 url('fonts/dense-regular-webfont.eot'),
		 url('fonts/dense-regular-webfont.woff'),
		 url('fonts/dense-regular-webfont.svg');
}

body {
	margin-top:25px;
	background-color:#284c7e;
}

#title {
	color:#fff;
}

#logoBox {
	width: 400px;
	margin:0 auto;
}

#navBar {
	padding:0 10px;
	list-style-type: none;
}

#navBar li {
	-webkit-transition:text-shadow 1s ease-in-out;
    -moz-transition:text-shadow 1s ease-in-out;
    -o-transition:text-shadow 1s ease-in-out;
    -ms-transition:text-shadow 1s ease-in-out;
    transition:text-shadow 1s ease-in-out;

	-webkit-transition:color 1s ease-in-out;
    -moz-transition:color 1s ease-in-out;
    -o-transition:color 1s ease-in-out;
    -ms-transition:color 1s ease-in-out;
    transition:color 1s ease-in-out;


    text-shadow:0px 0px 0px #fff;

	font-family: DenseRegular;
	font-size:22px;
	cursor: pointer;
	color:#fff;
	display:inline-block;
}

.stretch {
	width:100%;
}

.blur {
	color:transparent !important;
	text-shadow: 0px 0px 5px #fff !important;
}

#contentContainer {
	width:400px;
	height:300px;
	margin:0 auto;
	border: 1px solid #000;
	background:#eee;
}